PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://gottisaiaashish_db_user:2xGBORFKiYGt0GyQ@nrcm-fmc.n8tsokq.mongodb.net/nrcmfmc?retryWrites=true&w=majority&appName=nrcm-fmc
ADMIN_USER=nrcmfmc
ADMIN_PASS=fmc123
